<style>
  .sticky-list {
    position: sticky;
    top: 20px; /* Einstellen des gewünschten Abstands nach oben */
  }
</style>

<section>
  <div class="py-4"></div>
  <div class="py-4"></div>
  <div class="container">
    <p class="h1 white text-center">Irische Harfe 28-Saitig</p>
  </div>
</section>

<div class="py-5"></div>

<section *ngIf="showDialog" class="content">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-9">
        <p class="h4">Die traditionelle irische Harfe ist relativ leicht und daher gut zu transportieren.

          Diese Harfe kann mit der dazugehörigen Tasche wie ein Rucksack transportiert werden.

        </p>
        <br><br>
        <p class="h4">28 saitig von H bis a“‘ (432 – 440 Hz)</p>


        <br><br>

        <!-- app.component.html -->
        <div class="row">


          <div class="col-12 col-md-6 col-lg-12"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/irisch28/irisch-28-saitig-titel.png" alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/irisch28/irisch-28-saitig-1.jpg" alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/irisch28/irisch-28-saitig-2.jpg" alt="">
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/irisch28/irisch-28-saitig-3.jpg" alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/irisch28/irisch-28-saitig-4.jpg" alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/irisch28/irisch-28-saitig-4.jpg" alt="">
            </div>
          </div>


          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/irisch28/irisch-28-saitig-7.jpg" alt="">
            </div>
          </div>


          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/irisch28/irisch-28-saitig-6.jpg" alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/irisch28/irisch-28-saitig-5.jpg" alt="">
            </div>
          </div>


          <!-- Add more images here if needed -->
        </div>
        <br><br><br>


      </div>

      <div class="col-md-3">
        <div class="sticky-list">
          <p class="h4">Höhe</p>
          <p class="h5">93 cm</p>

          <p class="h4">Breite</p>
          <p class="h5">45 cm</p>

          <p class="h4">Gewicht</p>
          <p class="h5">4.3 kg</p>

          <p class="h4">Halbtonmechanik</p>
          <p class="h5">verschiedene Mechaniken möglich</p>

          <p class="h4">Oberfläche</p>
          <p class="h5">Gewachst oder in Schellackpolitur erhältlich</p>

          <p class="h4">Holz</p>
          <p class="h5">Nussbaum, Birne, Ahorn oder Kirsche</p>

        </div>
      </div>
    </div>
  </div>
</section>
