<style>
  .sticky-list {
    position: sticky;
    top: 20px; /* Einstellen des gewünschten Abstands nach oben */
  }
</style>

<section>
  <div class="py-4"></div>
  <div class="py-4"></div>
  <div class="container">
    <p class="h1 white text-center">Die Lyra</p>
  </div>
</section>

<div class="py-5"></div>

<section *ngIf="showDialog" class="content">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-9">
        <p class="h4">Das Instrument der Antike, gilt als Attribut der Dichter und Sänger.

          Mit wahrhaft zarten Klängen und ihrem ästhetischen Aussehen begeistert die Lyra auch mit dem einfachen
          Transport!
        </p>


        <br><br>

        <!-- app.component.html -->
        <div class="row">


          <div class="col-12 col-md-6 col-lg-12"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Lyra/lyra-titel.png" alt="">
            </div>
          </div>


          <!-- Add more images here if needed -->
        </div>
        <br><br><br>


      </div>

      <div class="col-md-3">
        <div class="sticky-list">
          <p class="h4">Höhe</p>
          <p class="h5">54 cm</p>


          <p class="h4">Gewicht</p>
          <p class="h5">1 kg</p>

          <p class="h4">Halbtonmechanik</p>
          <p class="h5">14 saitig in Bronce Stahl oder Darm</p>

          <p class="h4">Oberfläche</p>
          <p class="h5">Poliert oder gewachst (Matt)</p>

          <p class="h4">Holz</p>
          <p class="h5">Linde, Ahorn oder Nuss</p>

        </div>
      </div>
    </div>
  </div>
</section>
