<style>
  .sticky-list {
    position: sticky;
    top: 20px; /* Einstellen des gewünschten Abstands nach oben */
  }
</style>

<section>
  <div class="py-4"></div>
  <div class="py-4"></div>
  <div class="container">
    <p class="h1 white text-center">Die gotische Harfe – 30- Saitig</p>
  </div>
</section>

<div class="py-5"></div>

<section *ngIf="showDialog" class="content">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-9">
        <p class="h4">Diese Harfe wurde mit Arianna Savall konstruiert. Vorwiegend zum Reisen. Geringstes Gew. 4,5 kg,
          30 Saiten, mit Haltonmechanik. Die in Längsrichtung laufende Harfendecke ! Feinst gewachsene Bergfichte von
          über 1200m Seehöhe. Dadurch wird ein Klang von unglaublicher Wärme und Harmonie geschaffen.</p>

        <br>
        <br><br>

        <!-- app.component.html -->
        <div class="row">


          <div class="col-12 col-md-6 col-lg-12"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Gotisch30/die-gotische-harfe-–-30-saitig-titel.png" alt="">
            </div>
          </div>


          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Gotisch30/30-saitig-1.jpg" alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Gotisch30/30-saitig-2.jpg" alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Gotisch30/30-saitig-3.jpg" alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Gotisch30/arainna_14.jpg" alt="">
            </div>
          </div>







          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Gotisch30/die-gotische-harfe-–-30-saitig-1.jpg" alt="">
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Gotisch30/die-gotische-harfe-–-30-saitig-3.png" alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Gotisch30/die-gotische-harfe-–-30-saitig-2.jpg" alt="">
            </div>
          </div>








          <!-- Add more images here if needed -->
        </div>
        <br><br><br>


      </div>

      <div class="col-md-3">
        <div class="sticky-list">
          <p class="h4">Höhe</p>
          <p class="h5">126 cm</p>

          <p class="h4">Gewicht</p>
          <p class="h5">4.5 kg</p>

          <p class="h4">Halbtonmechanik</p>
          <p class="h5">Halbtonmechanik</p>

          <p class="h4">Oberfläche</p>
          <p class="h5">Schelllack oder Wachs</p>

          <p class="h4">Holz</p>
          <p class="h5">Bergfichte, Ahorn, Nuss, Birne</p>

        </div>
      </div>
    </div>
  </div>
</section>
