.bg-custom {
  background-image: url("../../assets/header/titelbild_impressum.jpg");
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: top;
  height: 30vh; /* Höhe auf 25% der Viewport-Höhe setzen */
}
