<style>
  .sticky-list {
    position: sticky;
    top: 20px; /* Einstellen des gewünschten Abstands nach oben */
  }
</style>

<section>
  <div class="py-4"></div>
  <div class="py-4"></div>
  <div class="container">
    <p class="h1 white text-center">Harfe Arianna</p>
  </div>
</section>

<div class="py-5"></div>

<section *ngIf="showDialog" class="content">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-9">
        <p class="h3">Diese neogotische Harfe wurde von mir entwickelt. Der Resonator ist aus Bergfichte in
          Längsrichtung ausgearbeitet.
          Säule und Hals sind aus feinster Riegelahorn ausgefertigt, das Holz stammt aus den obersten Bergregionen
          (1800m) Österreichs.</p>

        <br>
        <p class="h3">Diese gotische Harfe kann auch mit Halbtonmechanik ausgestattet werden !
          Durch die hohe Mensur, hat diese Harfe einen sehr warmen weichen Klang.
          27saitig ist sie in Darm und Carbonsaiten von D – h2 erhältlich oder von “ G-e3
        </p>
        <br><br>

        <!-- app.component.html -->
        <div class="row">

          <div class="col-12 col-md-6 col-lg-12"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Arianna/harfen_vorlage_quer_.png" alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75" src="assets/Harfen/Arianna/arianna_new_1.jpg"
                   alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75" src="assets/Harfen/Arianna/arianna_new_2.jpg"
                   alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75" src="assets/Harfen/Arianna/arianna_new_3.jpg"
                   alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75" src="assets/Harfen/Arianna/arianna_new_4.jpg"
                   alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75" src="assets/Harfen/Arianna/arianna_new_5.jpg"
                   alt="">
            </div>
          </div>


          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75" src="assets/Harfen/Arianna/arianna_02.jpg"
                   alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75" src="assets/Harfen/Arianna/arianna_04.jpg"
                   alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75" src="assets/Harfen/Arianna/arianna_05.jpg"
                   alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75" src="assets/Harfen/Arianna/arianna_bild_1.jpg"
                   alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75" src="assets/Harfen/Arianna/arianna_bild_2.jpg"
                   alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75" src="assets/Harfen/Arianna/arianna_bild_3.jpg"
                   alt="">
            </div>
          </div>






          <!-- Add more images here if needed -->
        </div>
        <br><br><br>


      </div>

      <div class="col-md-3">
        <div class="sticky-list">
          <p class="h4">Höhe</p>
          <p class="h5">160 cm</p>

          <p class="h4">Breite</p>
          <p class="h5">45 cm</p>

          <p class="h4">Gewicht</p>
          <p class="h5">3.5 kg</p>

          <p class="h4">Halbtonmechanik</p>
          <p class="h5">Verschiedene Mechaniken möglich</p>

          <p class="h4">Oberfläche</p>
          <p class="h5">C 37 Speziallack für historische Harfen</p>

          <p class="h4">Holz</p>
          <p class="h5">Fichte, Ahorn</p>

        </div>
      </div>
    </div>
  </div>
</section>
