<body>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <img class="mx-5 my-5 w-sm-0" src="assets/Logo1.png" alt="" srcset="">

    <mat-list class="mx-5 h5">
      <p class="my-3 navitems" routerLink="home">Home</p>
      <p class="my-3 navitems" routerLink="harfen-aus-meisterhand">Harfen aus Meisterhand</p>
      <p class="my-3 navitems" routerLink="franz-reschenhofer">Franz Reschenhofer</p>
      <p class="my-3 navitems" routerLink="instrumente">Instrumente</p>
      <p class="my-3 navitems" routerLink="windharfen">Windharfen</p>
      <p class="my-3 navitems" routerLink="galerie">Galerie</p>
      <p class="my-3 navitems" routerLink="harfenlehrer">Harfenlehrer</p>
      <p class="my-3 navitems" routerLink="ausstellungen">Ausstellungen</p>
      <p class="my-3 navitems" routerLink="seminare">Seminare</p>
      <p class="my-3 navitems" routerLink="kontakt">Kontakt</p>
      <p class="my-3 navitems" routerLink="impressum">Impressum</p>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <button class="sticky-md-top"
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

</body>
