.sidenav-container {
  height: 100%;
  color: #ffffff;
}


.sidenav {
  background-color: black;
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navitems{
  cursor: pointer;
}
