.bg-custom {
  background-image: url("../../../assets/Ausstellung/ausstellungen_header.jpg");
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: top;
  height: 48vh; /* Höhe auf 25% der Viewport-Höhe setzen */
}
