<style>
  .sticky-list {
    position: sticky;
    top: 20px; /* Einstellen des gewünschten Abstands nach oben */
  }
</style>

<section>
  <div class="py-4"></div>
  <div class="py-4"></div>
  <div class="container">
    <p class="h1 white text-center">Windharfen & Klangskulpturen</p>
  </div>
</section>

<div class="py-5"></div>

<section *ngIf="showDialog" class="content">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-4">
        <p class="h2">Die Windharfe oder Äolsharfe:</p>

        <br> <br>
        <p class="h4">Der Wind allein mit seinen Schwingen versetzt die Harfe in wunderbares Klingen.

          Es werden die unterschiedlichsten Windharfen in meiner Werkstätte gebaut, von der kleinen bis zu den großen,
          bis hin zur künstlerisch gestalteten Klangskulptur, für Parks oder Kunstausstellungen. Diese Windharfen werden
          soweit es möglich ist, den Aufstellungsplätzen der Geomantie zugeordnet und danach entsprechend gestimmt. Das
          so die Atmosphäre des jeweiligen Platzes hörbar gemacht wird. Das Singen der Windharfe weist eine
          Verwandschaft mit Obertongesängen auf.</p>
        <br><br>

        <!-- app.component.html -->

        <br><br><br>


      </div>

      <div class="col-md-8">
        <div class="row">


          <div class="col-12 col-md-6 col-lg-4"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Windharfe/windharfen_1.jpg" alt="">
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Windharfe/windharfen_2.jpg" alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Windharfe/windharfen_7.jpg" alt="">
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Windharfe/windharfen_10.jpg" alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Windharfe/windharfen_4.jpg" alt="">
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Windharfe/windharfen_5.jpg" alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Windharfe/windharfen_3.jpg" alt="">
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Windharfe/windharfen_8.jpg" alt="">
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Windharfe/windharfen_9.jpg" alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Windharfe/windharfen_11.jpg" alt="">
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Windharfe/windharfen_12.jpg" alt="">
            </div>
          </div>




          <!-- Add more images here if needed -->
        </div>
      </div>
    </div>
  </div>
</section>
