<section class="py-5 green ">
  <div class="container mx-sm-0  w-100 py-5 px-5 row">
    <img class="p-3 col row-md-1  col-lg-5 col-xl-4 border-bottom  row-sm-1 " src="assets/content/harfenbau_1.jpg" alt=""
         srcset="">

    <div class="p-3 col   row-md-1  h5 col-lg-7 col-xl-7  content row-sm-1 ">
      <h2>Jede Harfe ein liebevolles Unikat</h2>
      <p>Wenn man die Möglichkeit hat, aus Gedanken und mit seiner Hände Macht, ein Instrument zu schaffen, und dieses
        wunderbare Instrument die Herzen anderer Menschen berührt, hat einem das Leben etwas wundervolles Geschenkt.</p>
      <b>Gracias a la vida!</b>
    </div>
  </div>
</section>

<section class="py-5  orange">
  <div class="container mx-sm-0  w-100 py-5 px-5 row">
    <div class="p-3 col row-md-7  row-lg-7 h5 col-xl-7   content row-sm-1 mx-lg-3">
      <h2>Meisterwerkstatt</h2>
      <h3>Genießen Sie die Klänge…</h3>
      <p>…einer originalen „Reschenhofer Harfe“.</p>
      <p> Professionell auf der Bühne, für sich allein zu Hause oder im
        <i>therapeutischen</i> Bereich!</p>
    </div>
    <img class="p-3 col row-md-4 row-lg-7 col-xl-4 border-bottom  row-sm-1 mx-lg-3" src="assets/content/harfenbau_1.jpg" alt=""
         srcset="">
  </div>
</section>



