<style>
  .sticky-list {
    position: sticky;
    top: 20px; /* Einstellen des gewünschten Abstands nach oben */
  }
</style>

<section>
  <div class="py-4"></div>
  <div class="py-4"></div>
  <div class="container">
    <p class="h1 white text-center">Tripel-harfe Angelica</p>
  </div>
</section>

<div class="py-5"></div>

<section *ngIf="showDialog" class="content">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-9">
        <p class="h4">Diese Harfe wurde mit Anlehnung an die walisische Tripelharfe von mir im Jahre 2011 entworfen.

          Eine sehr schlanke Form mit einem unglaublichem Klangspektrum und ein außergewöhnlich warmes Timbre.

          Eine Grazile Schönheit und eine Meisterleistung der Harfenbaukunst so: „Robin How Bowen“</p>


        <br><br>

        <!-- app.component.html -->
        <div class="row">


          <div class="col-12 col-md-6 col-lg-12"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Angelica/harfe-angelica-titel-1.png" alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Angelica/harfe-angelica-1.jpg" alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Angelica/harfe-angelica-2.jpg" alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Angelica/harfe-angelica-3.jpg" alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Angelica/harfe-angelica-4.jpg" alt="">
            </div>
          </div>


          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Angelica/harfe-angelica-6.jpg" alt="">
            </div>
          </div>


          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Angelica/harfe-angelica-7.png" alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Angelica/harfe-angelica-8.png" alt="">
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6"
               (click)="openLightbox('assets/Harfen/Tribella/GHG_7795-1-e1643396109508.jpg')">
            <div class="d-flex justify-content-center">
              <img class="img-fluid py-4 h-md-75"
                   src="assets/Harfen/Angelica/harfe-angelica-5.jpg" alt="">
            </div>
          </div>


          <!-- Add more images here if needed -->
        </div>
        <br><br><br>


      </div>

      <div class="col-md-3">
        <div class="sticky-list">
          <p class="h4">Höhe</p>
          <p class="h5">207 cm</p>

          <p class="h4">Gewicht</p>
          <p class="h5">ca. 14 kg</p>

          <p class="h4">Halbtonmechanik</p>
          <p class="h5">100 Saiten von GG-a''' C#-g#''' G-a'''</p>

          <p class="h4">Oberfläche</p>
          <p class="h5">Schelllack, handpoliert oder gewachst</p>

          <p class="h4">Holz</p>
          <p class="h5">Ahorn, Kirsch, Nuss </p>

        </div>
      </div>
    </div>
  </div>
</section>
