<section class="bg-custom">
  <div class="py-4"></div>
  <p class="text-center align-center h1 py-5">Franz Reschenhofer</p>
</section>

<section class="py-5 orange">
  <div class="container py-5 w-75">
    <div class="row">

      <div class="h5 text-center w-75 mx-auto">
        <p class="h4">…wurde 1956 im Innviertel geboren, machte seinen Meister im Tischlerhandwerk.

          Seit 1978 arbeitet Franz als freischaffender Künstler in Handenberg, einem kleinen Ort in Oberösterreich, wo
          sich seine Werkstätte und Atelier befinden.

          Im Jahre 1984 begegnete ihm die Harfe und ihr Zauber.

          Seitdem führt er Studien und Recherchen in Museen durch und betreibt die Forschung und Weiterentwicklung im
          Resonanzbau.

          Im Laufe der Jahre hat er eine eigene Bauweise entwickelt, die zu einem umfassenden und ausgeprägten
          Klangreichtum führt und sehr hohe Qualität bei der Verarbeitung seiner Instrumente aufweist.</p>
      </div>
    </div>
  </div>
</section>

<section class=" py-5 orange">
  <div class="container w-75">


    <div class="row">

      <div class="col-12 col-md-6 col-lg-6">
        <div class="d-flex justify-content-center">
          <img class="img-fluid py-4 h-md-75 w-75"
               src="assets/content/franz_reschenhofer_2.jpg" alt="">
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <div class="d-flex justify-content-center">
          <img class="img-fluid py-4  h-md-75 w-75"
               src="assets/content/franz_reschenhofer_1.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
